In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
sentinels = {'PRECIP': ['Nulo'], 'EVAP': ['Nulo'], 'TMAX': ['Nulo'],'TMIN': ['Nulo']}

In [3]:
datos_df = pd.read_csv("cajeme.txt",skiprows=0, sep='\s+',na_values=sentinels)

In [4]:
df = pd.DataFrame(datos_df)

In [5]:
df['FECHAN'] = pd.to_datetime(df.apply(lambda x: x['FECHA'], 1), dayfirst=True)
df = df.drop(['FECHA'], 1)

In [6]:
df['MES'] = df['FECHAN'].dt.month
df['AÑO'] = df['FECHAN'].dt.year

In [7]:
#Contamos el número de valores disponibles por año.
df.groupby('AÑO').count()

      PRECIP  EVAP  TMAX  TMIN  FECHAN  MES
AÑO
1980     366   366   366   366     366  366
1981     365   365   365   365     365  365
1982     365   365   365   365     365  365
1983     120   120   120   120     120  120
1984     275   275   275   275     275  275
1985     182   182   182   182     182  182
1986     242   242   242   242     242  242
1987     245   245   245   245     245  245
1988     305   305   300   301     305  305
1989      31    31    31    31      31   31
1990     365   365   365   365     365  365
1991     365   365   365   365     365  365
1992     366   365   361   366     366  366
1993     365   364   364   365     365  365
1994     365   364   352   353     365  365
1995     365   365   365   365     365  365
1996     366   366   364   366     366  366
1997     365   365   365   365     365  365
1998     365   365   365   365     365  365
1999     365     6   365   365     365  365
2000     366   264   366   366     366  366
2001     365   334   365   365     365  365
2002     365   364   363   364     365  365
2003     365   365   365   365     365  365
2004     366   211   366   366     366  366
2005     365     0   365   365     365  365
2006     365     0   365   365     365  365
2007     365     0   365   365     365  365
2008     366     0   366   366     366  366
2009     365     0   365   365     365  365
2010     365     0   365   365     365  365
2011     365     0   365   365     365  365

In [8]:
#Seleccionamos los días con heladas; es decir temperaturas mínimas menores a 0C, y contamos el número de ocurrencia para
#cada año.
TempHel = pd.DataFrame(df.loc[df['TMIN']<0])
TempHel.groupby('AÑO').count()

      PRECIP  EVAP  TMAX  TMIN  FECHAN  MES
AÑO
1985       1     1     1     1       1    1
1987       3     3     3     3       3    3
2011       3     0     3     3       3    3

In [9]:
#Seleccionamos los días con temperaturas de verano; es decir, temperaturas máximas mayores a 25C, y contamos el número de
#ocurrencia para cada año.
TempVer = pd.DataFrame(df.loc[df['TMAX']>25])
TempVer.groupby('AÑO').count()

      PRECIP  EVAP  TMAX  TMIN  FECHAN  MES
AÑO
1980     313   313   313   313     313  313
1981     302   302   302   302     302  302
1982     295   295   295   295     295  295
1983      83    83    83    83      83   83
1984     222   222   222   222     222  222
1985     110   110   110   110     110  110
1986     224   224   224   224     224  224
1987     202   202   202   202     202  202
1988     263   263   263   263     263  263
1989       4     4     4     4       4    4
1990     312   312   312   312     312  312
1991     305   305   305   305     305  305
1992     287   286   287   287     287  287
1993     308   308   308   308     308  308
1994     314   313   314   314     314  314
1995     349   349   349   349     349  349
1996     321   321   321   321     321  321
1997     299   299   299   299     299  299
1998     337   337   337   337     337  337
1999     341     5   341   341     341  341
2000     357   260   357   357     357  357
2001     321   290   321   321     321  321
2002     337   336   337   337     337  337
2003     332   332   332   332     332  332
2004     307   173   307   307     307  307
2005     338     0   338   338     338  338
2006     342     0   342   342     342  342
2007     317     0   317   317     317  317
2008     336     0   336   336     336  336
2009     329     0   329   329     329  329
2010     340     0   340   340     340  340
2011     315     0   315   315     315  315

In [10]:
#Seleccionamos los días con noches tropicales; es decir, temperaturas míximas mayores a 20C, y contamos el número de
#ocurrencia para cada año.
TempVer = pd.DataFrame(df.loc[df['TMIN']>20])
TempVer.groupby('AÑO').count()

      PRECIP  EVAP  TMAX  TMIN  FECHAN  MES
AÑO
1980     124   124   124   124     124  124
1981     126   126   126   126     126  126
1982      99    99    99    99      99   99
1984     112   112   112   112     112  112
1985       4     4     4     4       4    4
1986      57    57    57    57      57   57
1987      63    63    63    63      63   63
1988      59    59    59    59      59   59
1990     116   116   116   116     116  116
1991     108   108   108   108     108  108
1992     106   106   104   106     106  106
1993     117   117   117   117     117  117
1994     106   106   106   106     106  106
1995      90    90    90    90      90   90
1996     128   128   127   128     128  128
1997     133   133   133   133     133  133
1998     127   127   127   127     127  127
1999     109     0   109   109     109  109
2000      98    98    98    98      98   98
2001     117   100   117   117     117  117
2002      93    93    92    93      93   93
2003     109   109   109   109     109  109
2004     118    48   118   118     118  118
2005     119     0   119   119     119  119
2006     119     0   119   119     119  119
2007     115     0   115   115     115  115
2008     124     0   124   124     124  124
2009     115     0   115   115     115  115
2010     111     0   111   111     111  111
2011     115     0   115   115     115  115

In [11]:
df['TPROM'] = (df.TMAX + df.TMIN)/2
df

       PRECIP  EVAP  TMAX  TMIN     FECHAN  MES   AÑO  TPROM
0         0.0   1.2  25.0   7.0 1980-01-01    1  1980  16.00
1         0.0   1.7  22.0   8.0 1980-01-02    1  1980  15.00
2         0.0   1.9  25.0   9.0 1980-01-03    1  1980  17.00
3         0.0   1.8  26.0   6.0 1980-01-04    1  1980  16.00
4         0.0   2.0  26.0   4.0 1980-01-05    1  1980  15.00
5         0.0   1.8  20.0   7.0 1980-01-06    1  1980  13.50
6         0.0   1.3  25.0   6.0 1980-01-07    1  1980  15.50
7         0.0   1.9  25.0   4.0 1980-01-08    1  1980  14.50
8         0.0   1.8  25.0   6.0 1980-01-09    1  1980  15.50
9         0.0   2.0  26.0   8.0 1980-01-10    1  1980  17.00
10        0.0   1.4  24.0   9.0 1980-01-11    1  1980  16.50
11        0.0   3.3  27.0  10.0 1980-01-12    1  1980  18.50
12        0.0   2.5  28.0  11.0 1980-01-13    1  1980  19.50
13        0.0   2.3  26.0  11.0 1980-01-14    1  1980  18.50
14        0.0   1.7  24.0  11.0 1980-01-15    1  1980  17.50
15        0.0   1.6  25.0  10.0 1980-01-16    1  1980  17.50
16        0.0   1.5  26.0   8.0 1980-01-17    1  1980  17.00
17        0.0   2.1  24.0   8.0 1980-01-18    1  1980  16.00
18        0.0   2.2  24.0  11.0 1980-01-19    1  1980  17.50
19        0.0   2.3  22.0   9.0 1980-01-20    1  1980  15.50
20        0.0   1.6  20.0   7.0 1980-01-21    1  1980  13.50
21        0.0   2.6  20.0   6.0 1980-01-22    1  1980  13.00
22        0.0   2.3  24.0   8.0 1980-01-23    1  1980  16.00
23        0.0   2.8  25.0   9.0 1980-01-24    1  1980  17.00
24        0.0   2.0  22.0  10.0 1980-01-25    1  1980  16.00
25        0.0   2.0  24.0   8.0 1980-01-26    1  1980  16.00
26        0.0   2.7  25.0   8.0 1980-01-27    1  1980  16.50
27        0.0   3.0  25.0   9.0 1980-01-28    1  1980  17.00
28        0.0   2.5  25.0  10.0 1980-01-29    1  1980  17.50
29        0.0   1.4  23.0   9.0 1980-01-30    1  1980  16.00
...       ...   ...   ...   ...        ...  ...   ...    ...
10501     7.3   NaN  24.0  13.5 2011-12-02   12  2011  18.75
10502     0.0   NaN  23.0   8.0 2011-12-03   12  2011  15.50
10503     0.0   NaN  22.0   7.0 2011-12-04   12  2011  14.50
10504     0.0   NaN  21.0   6.0 2011-12-05   12  2011  13.50
10505     0.0   NaN  21.5   4.0 2011-12-06   12  2011  12.75
10506     0.0   NaN  23.0   3.5 2011-12-07   12  2011  13.25
10507     0.0   NaN  25.0   5.0 2011-12-08   12  2011  15.00
10508     0.0   NaN  22.0   7.0 2011-12-09   12  2011  14.50
10509     0.0   NaN  21.0   8.0 2011-12-10   12  2011  14.50
10510     0.0   NaN  26.0   6.0 2011-12-11   12  2011  16.00
10511     1.0   NaN  23.0  11.0 2011-12-12   12  2011  17.00
10512     0.0   NaN  25.0  10.0 2011-12-13   12  2011  17.50
10513     0.0   NaN  24.0  11.0 2011-12-14   12  2011  17.50
10514     0.0   NaN  21.0   6.0 2011-12-15   12  2011  13.50
10515     0.0   NaN  22.0   3.0 2011-12-16   12  2011  12.50
10516     0.0   NaN  23.0   2.0 2011-12-17   12  2011  12.50
10517     0.0   NaN  22.0   6.0 2011-12-18   12  2011  14.00
10518     0.0   NaN  25.0   5.0 2011-12-19   12  2011  15.00
10519     0.0   NaN  27.0   7.0 2011-12-20   12  2011  17.00
10520     0.0   NaN  24.0   8.0 2011-12-21   12  2011  16.00
10521     0.0   NaN  22.0   5.0 2011-12-22   12  2011  13.50
10522     0.0   NaN  18.5   4.0 2011-12-23   12  2011  11.25
10523     0.0   NaN  22.0   2.0 2011-12-24   12  2011  12.00
10524     0.0   NaN  25.0   4.0 2011-12-25   12  2011  14.50
10525     0.0   NaN  24.0   5.0 2011-12-26   12  2011  14.50
10526     0.0   NaN  26.0   4.0 2011-12-27   12  2011  15.00
10527     0.0   NaN  27.5   7.0 2011-12-28   12  2011  17.25
10528     0.0   NaN  27.0   8.0 2011-12-29   12  2011  17.50
10529     0.0   NaN  28.5   7.0 2011-12-30   12  2011  17.75
10530     0.0   NaN  28.0   7.5 2011-12-31   12  2011  17.75

[10531 rows x 8 columns]

In [12]:
#Realizamos un contador que cuente los dìas donde la temperatura promedio es mayor a 5C, así como los primeros seis días
#consecutivos en donde se cumple lo anterior. Llamamos a estos días como "primeros días" ya que son los primeros días
#de la Estación de Cultivo.
primdias = []
primseis=-1

for j in range(df["AÑO"][0],df["AÑO"][len(df)-1]+1):
    for i in range(5,len(df)-1):
        if(df["AÑO"][i-5] == j):
            if(df["TPROM"][i-5] > 5 and df["TPROM"][i-4] > 5 and df["TPROM"][i-3] > 5 and
               df["TPROM"][i-2] > 5 and df["TPROM"][i-1] > 5 and df["TPROM"][i]   > 5):
                    primseis = i
                    break
    if(primseis != -1):
        primdias.append(primseis)
        primseis= -1
    else:
        primdias.append("NA")

In [13]:
#Realizamos ahora un contador que cuente los dìas donde la temperatura promedio es menor a 5C, así como los primeros seis días
#consecutivos en donde se cumple lo anterior. Llamamos a estos días como los "últimos días" ya que son los últimos días 
#de la Temporada de Cultivo.
ultdias = []
ultseis = -1

for j in range(df["AÑO"][len(df)-1],df["AÑO"][0]-1,-1):
    for i in range(len(df)-1,5,-1):
        if(df["AÑO"][i] == j):
            if(df["TPROM"][i-5] < 5 and df["TPROM"][i-4] < 5 and df["TPROM"][i-3] < 5 and
               df["TPROM"][i-2] < 5 and df["TPROM"][i-1] < 5 and df["TPROM"][i]   < 5):
                    ultseis = i-5
                    break
    if(ultseis != -1):
        ultdias.append(ultseis)
        ultseis= -1
    else:
        ultdias.append("NA")

In [14]:
#Con los valores que obtuvimos con los pasos anteriores, calculamos la Temporada de Cultivo (Growing Season Large)
#de nuestra región. Este intervalo se interpreta como desde los primeros seis días seguidos donde la temperatura 
#fue mayor a 5C hasta los últimos seis días donde la temperatura fue menor a 5C, calculando esto como una diferencia 
#de número de días entre ambos arreglos.
GSL = []
inicial = df['AÑO'][0]
for i in range(0,len(ultdias)):
    if(ultdias[i]!="NA" and primdias[i]!="NA"):
        GSL.append(ultdias[i]-primdias[i])
    if(ultdias[i]=='NA'):
            GSL.append( len(df[df['AÑO'] == inicial].index) )
    else:
        if(primdias[i]=='NA'):
            GSL.append(0)
    inicial=inicial+1

In [15]:
#Mostramos los días de Temporada de Cultivo (GSL)
GSL

[366,
 365,
 365,
 120,
 275,
 182,
 242,
 245,
 305,
 31,
 365,
 365,
 366,
 365,
 365,
 365,
 366,
 365,
 365,
 365,
 366,
 365,
 365,
 365,
 366,
 365,
 365,
 365,
 366,
 365,
 365,
 365]

In [17]:
#Buscamos la temperatura máxima mensual de la Temperatura Máxima (TXx)
TXx=[]
inicial=df['AÑO'][0]
nAños=df['AÑO'].nunique()


for i in range(0,nAños):
        df_año = df[df['AÑO']==inicial]
        for j in range (1,13):
                df_mes = df_año[df_año['MES']==j]
                TMAXMES = df_mes.TMAX.max()
                TXx.append(TMAXMES)    
        inicial=inicial+1

In [18]:
#Buscamos la temperatura máxima mensual de la Temperatura Mínima (TNX)
TNx=[]
inicial=df['AÑO'][0]
nAños=df['AÑO'].nunique()


for i in range(0,nAños):
        df_año = df[df['AÑO']==inicial]
        for j in range (1,13):
                df_mes = df_año[df_año['MES']==j]
                TMAXMES = df_mes.TMIN.max()
                TNx.append(TMAXMES)
        inicial=inicial+1

In [19]:
#Buscamos la temperatura mínima mensual de la Temperatura Máxima (TXn)
TXn=[]
inicial=df['AÑO'][0]
nAños=df['AÑO'].nunique()


for i in range(0,nAños):
        df_año = df[df['AÑO']==inicial]
        for j in range (1,13):
                df_mes = df_año[df_año['MES']==j]
                TMINMES = df_mes.TMAX.min()
                TXn.append(TMINMES)
        inicial=inicial+1

In [20]:
#Buscamos la temperatura mínima mensual de la Temperatura Mínima (TNn)
TNn=[]
inicial=df['AÑO'][0]
nAños=df['AÑO'].nunique()


for i in range(0,nAños):
        df_año = df[df['AÑO']==inicial]
        for j in range (1,13):
                df_mes = df_año[df_año['MES']==j]
                TMINMES = df_mes.TMIN.min()
                TNn.append(TMINMES)
        inicial=inicial+1

In [23]:
#Calculamos la diferencia de temperaturas y colocamos los valores en una columna de nuestro
#dataframe
df['TDIF'] = (df.TMAX - df.TMIN)

#Para el promedio mensual de diferencia de temperaturas, realizamos un arreglo que calcule el promedio de cada mes:
DTR=[]
inicial=df['AÑO'][0]
nAños=df['AÑO'].nunique()


for i in range(0,nAños):
        df_año = df[df['AÑO']==inicial]
        for j in range (1,13):
                df_mes = df_año[df_año['MES']==j]
                TDIFPROM = df_mes.TDIF.mean()
                DTR.append(TDIFPROM)
    
        inicial=inicial+1
DTR

[15.935483870967742,
 16.103448275862068,
 16.483870967741936,
 19.433333333333334,
 18.70967741935484,
 12.566666666666666,
 10.903225806451612,
 10.064516129032258,
 11.433333333333334,
 14.983870967741936,
 18.8,
 17.677419354838708,
 12.35483870967742,
 17.678571428571427,
 17.06451612903226,
 18.4,
 16.451612903225808,
 11.666666666666666,
 10.193548387096774,
 12.35483870967742,
 12.033333333333333,
 14.580645161290322,
 19.266666666666666,
 19.032258064516128,
 16.29032258064516,
 18.535714285714285,
 19.161290322580644,
 21.3,
 18.64516129032258,
 16.6,
 11.483870967741936,
 12.67741935483871,
 14.766666666666667,
 19.64516129032258,
 16.033333333333335,
 14.096774193548388,
 16.096774193548388,
 18.107142857142858,
 18.774193548387096,
 20.5,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 16.774193548387096,
 20.103448275862068,
 21.419354838709676,
 nan,
 nan,
 12.4,
 11.64516129032258,
 11.258064516129032,
 13.933333333333334,
 14.580645161290322,
 nan,
 14.35483870967742,
 14.96774193548387,
 17.428571428571427,
 18.612903225806452,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 18.580645161290324,
 17.7,
 19.096774193548388,
 20.096774193548388,
 18.428571428571427,
 20.225806451612904,
 21.266666666666666,
 nan,
 nan,
 11.64516129032258,
 nan,
 12.633333333333333,
 16.903225806451612,
 17.466666666666665,
 nan,
 19.35483870967742,
 nan,
 20.35483870967742,
 20.5,
 18.419354838709676,
 18.033333333333335,
 nan,
 14.161290322580646,
 15.5,
 nan,
 nan,
 19.516129032258064,
 20.06451612903226,
 19.833333333333332,
 22.677419354838708,
 22.116666666666667,
 20.451612903225808,
 nan,
 nan,
 13.435483870967742,
 15.6,
 19.967741935483872,
 21.633333333333333,
 19.322580645161292,
 17.64516129032258,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 19.387096774193548,
 19.678571428571427,
 21.29032258064516,
 22.866666666666667,
 21.70967741935484,
 14.833333333333334,
 10.870967741935484,
 13.96774193548387,
 13.2,
 17.677419354838708,
 18.833333333333332,
 16.870967741935484,
 17.774193548387096,
 19.285714285714285,
 18.612903225806452,
 22.766666666666666,
 20.612903225806452,
 18.733333333333334,
 12.32258064516129,
 14.064516129032258,
 14.1,
 17.032258064516128,
 18.833333333333332,
 13.838709677419354,
 14.193548387096774,
 15.862068965517242,
 18.483870967741936,
 21.466666666666665,
 19.161290322580644,
 17.3,
 12.483333333333333,
 12.433333333333334,
 13.551724137931034,
 18.166666666666668,
 19.24137931034483,
 14.35483870967742,
 13.67741935483871,
 15.285714285714286,
 18.866666666666667,
 22.3,
 16.919354838709676,
 16.866666666666667,
 12.016129032258064,
 12.225806451612904,
 14.233333333333333,
 16.14516129032258,
 14.6,
 15.451612903225806,
 18.483870967741936,
 19.966666666666665,
 20.14516129032258,
 23.466666666666665,
 24.532258064516128,
 17.016666666666666,
 16.951612903225808,
 14.85483870967742,
 16.116666666666667,
 18.112903225806452,
 18.733333333333334,
 14.241935483870968,
 17.096774193548388,
 17.928571428571427,
 19.919354838709676,
 23.15,
 21.838709677419356,
 20.6,
 17.20967741935484,
 17.177419354838708,
 17.733333333333334,
 22.419354838709676,
 21.4,
 19.096774193548388,
 21.79032258064516,
 19.913793103448278,
 21.43548387096774,
 22.24137931034483,
 21.951612903225808,
 18.05,
 14.716666666666667,
 13.46774193548387,
 13.416666666666666,
 14.983870967741936,
 16.366666666666667,
 13.887096774193548,
 15.483870967741936,
 17.5,
 20.387096774193548,
 18.45,
 21.129032258064516,
 17.766666666666666,
 15.725806451612904,
 13.870967741935484,
 12.75,
 12.209677419354838,
 14.3,
 15.612903225806452,
 18.870967741935484,
 18.285714285714285,
 19.20967741935484,
 20.666666666666668,
 21.85483870967742,
 19.65,
 15.193548387096774,
 13.693548387096774,
 14.216666666666667,
 13.935483870967742,
 16.65,
 18.258064516129032,
 20.032258064516128,
 21.0,
 22.629032258064516,
 21.916666666666668,
 22.806451612903224,
 21.166666666666668,
 14.935483870967742,
 14.951612903225806,
 14.683333333333334,
 17.887096774193548,
 21.3,
 19.951612903225808,
 20.741935483870968,
 20.93103448275862,
 21.661290322580644,
 22.666666666666668,
 22.79032258064516,
 19.9,
 17.483870967741936,
 17.661290322580644,
 18.45,
 13.67741935483871,
 17.25,
 20.35483870967742,
 18.951612903225808,
 19.571428571428573,
 19.838709677419356,
 21.316666666666666,
 22.35483870967742,
 19.566666666666666,
 15.564516129032258,
 15.048387096774194,
 14.516666666666667,
 16.35483870967742,
 18.116666666666667,
 19.06451612903226,
 21.403225806451612,
 20.678571428571427,
 22.467741935483872,
 21.266666666666666,
 23.322580645161292,
 19.724137931034484,
 17.161290322580644,
 13.709677419354838,
 14.883333333333333,
 17.387096774193548,
 19.95,
 18.15,
 20.741935483870968,
 16.107142857142858,
 20.79032258064516,
 21.933333333333334,
 23.467741935483872,
 20.783333333333335,
 15.548387096774194,
 14.064516129032258,
 13.883333333333333,
 16.725806451612904,
 19.25,
 20.967741935483872,
 17.403225806451612,
 18.189655172413794,
 22.322580645161292,
 20.05,
 22.580645161290324,
 19.133333333333333,
 15.725806451612904,
 14.758064516129032,
 12.95,
 14.209677419354838,
 17.533333333333335,
 16.951612903225808,
 15.435483870967742,
 15.839285714285714,
 19.79032258064516,
 21.25,
 20.370967741935484,
 17.433333333333334,
 14.387096774193548,
 14.661290322580646,
 14.95,
 16.403225806451612,
 20.766666666666666,
 19.483870967741936,
 20.580645161290324,
 20.535714285714285,
 20.596774193548388,
 22.35,
 22.274193548387096,
 19.016666666666666,
 15.903225806451612,
 14.016129032258064,
 13.6,
 15.274193548387096,
 20.516666666666666,
 17.274193548387096,
 17.258064516129032,
 19.803571428571427,
 21.532258064516128,
 21.883333333333333,
 22.35483870967742,
 19.716666666666665,
 15.741935483870968,
 15.403225806451612,
 12.883333333333333,
 20.483870967741936,
 20.783333333333335,
 15.241935483870968,
 18.451612903225808,
 20.413793103448278,
 21.677419354838708,
 23.516666666666666,
 21.56451612903226,
 16.75,
 14.306451612903226,
 13.483870967741936,
 13.316666666666666,
 18.29032258064516,
 17.95,
 16.467741935483872,
 17.274193548387096,
 21.5,
 21.35483870967742,
 23.366666666666667,
 21.29032258064516,
 19.476666666666667,
 14.516129032258064,
 14.209677419354838,
 14.95,
 13.161290322580646,
 17.616666666666667,
 15.096774193548388,
 18.919354838709676,
 18.892857142857142,
 20.85483870967742,
 20.466666666666665,
 22.822580645161292,
 17.883333333333333,
 14.35483870967742,
 14.161290322580646,
 13.3,
 15.838709677419354,
 19.1,
 19.419354838709676,
 19.14516129032258,
 21.660714285714285,
 22.774193548387096,
 21.383333333333333,
 22.93548387096774,
 20.466666666666665,
 15.193548387096774,
 13.5,
 14.533333333333333,
 17.870967741935484,
 17.25,
 17.467741935483872]

In [24]:
#Calculamos la precipitación diaria máxima mensual en 1 día (Rx1day)
Rx1day = []
inicial=df['AÑO'][0]
nAños=df['AÑO'].nunique()

for i in range(0,nAños):
    df_año = df[df['AÑO']==inicial]
    for j in range(1,13):
        df_mes = df_año[df_año['MES']==j]
        if(df_mes['PRECIP'].mean()!=0 and df_mes['PRECIP'].count()!=0):
            valmaxid = df_mes['PRECIP'].idxmax()
            valmax = df_mes['PRECIP'][valmaxid]
            Rx1day.append(valmax)
        else:  
            Rx1day.append(0.0)
            
    inicial=inicial+1

In [ ]:
#Calculamos la precipitación diaria máxima mensual en 5 días (Rx5day)
Rx1day = []
inicial=df['AÑO'][0]
nAños=df['AÑO'].nunique()

for i in range(0,nAños):
    df_año = df[df['AÑO']==inicial]
    for j in range(1,13):
        df_mes = df_año[df_año['MES']==j]
        if(df_mes['PRECIP'].mean()!=0 and df_mes['PRECIP'].count()!=0):
            valmaxid = df_mes['PRECIP'].idxmax()
            valmax = df_mes['PRECIP'][valmaxid]
            Rx1day.append(valmax)
        else:  
            Rx1day.append(0.0)
            
    inicial=inicial+1